.positionspage{
    background-color: white;
    padding-top: 170px;

    .position-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .html-content{
            text-align: center;
            max-width: 715px;
            margin-top: 20px;
            margin-bottom: 85px;
        }
    }
    .row.custom-gutter{
        --bs-gutter-x:40px;
    }

    .col-4 {
        margin-bottom: 40px;
    }

    .item {
        align-items: start;
        justify-content: center;
        display: flex;
        flex-direction: column;
        border: 1px solid #9898a1;
        border-radius: 20px;
        padding: 40px;


        .logo-image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            max-width: 62.5px;
            max-height: 62.5px;
            border: 2px solid #3a337c;
            background-color: #f6f6ff;
            border-radius: 100%;

            img{
                display: block;
                height: auto;
            }
        }

        h5 {
            font-size: 26px;
            font-weight: 600;
            color: #3a337c;
            margin: 25px 0;
        }

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            position: relative;
            margin: 15px 0;
        }

        ul li {
            position: relative;
            color: black;
            font-size: 17px;
            line-height: 42px;
            font-weight: 300;
        }
        ul li::before {
            content: ">";
            font-size: 25px;
            color: #3a337c;
            position: static;
            margin-right: 25px;
        }
    }

    @media (max-width: 992px) {
        background-color: white;
        //padding-top: 170px;
        margin-top: 90px;

        .position-wrapper {
            max-width: 355px;
            margin-inline:auto ;


            .html-content{
                margin: 15px;
                padding-bottom: 70px;
            }

        }

        .row .col-4 {
            min-width: 355px;
            width: 100%;
            float: none;
            display: flex;
            flex-direction: column;
        }
        .item {
            align-items: start;
            justify-content: center;
            display: flex;
            flex-direction: column;
            border: 1px solid #9898a1;
            border-radius: 20px;
            padding-right: 45px;


            .logo-image {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 100px;
                max-width: 55px;
                max-height: 55px;
                padding: 15px;
                border: 2px solid #3a337c;
                background-color: #f6f6ff;
                border-radius: 100%;

                img{
                    display: block;
                    height: auto;
                }
            }

            h5 {
                font-size: 26px;
                font-weight: 600;
                color: #3a337c;
                margin: 25px 0;
            }

            ul {
                list-style-type: none;
                display: flex;
                flex-direction: column;
                position: relative;
                margin: 15px 0;
            }

            ul li {
                position: relative;
                color: black;
                font-size: 17px;
                line-height: 42px;
                font-weight: 300;
            }
            ul li::before {
                content: ">";
                font-size: 25px;
                color: #3a337c;
                position: static;
                margin-right: 25px;
            }

        }
    }
    @media (min-width: 993px) and (max-width:1220px) {
        .item{
            ul{
                padding-left: 0;
            }
        }
    }
}
