.services{
    .services-hero{
        position: relative;
        overflow-x: hidden;
        padding-bottom: 215px;

        .paragraph{
            margin-top: 280px;
            .html-content{
                margin-top:30px;
            }

            .mobhead-btn{
                gap:15px;
                margin-top:50px;
                display: flex;
                flex-direction: row;
                .mobhead{
                    min-width: 220px;
                    &.transparent{
                        background-color: transparent;
                    }
                    &.transparent:hover{
                        background-color:white;
                    }
                }
            }
        }

        .background {
            /*display: block;
            position: absolute;
            left: 50%;
            top: -10%;
            bottom: -20%;
            right: 10%;
            z-index: -1;*/
            display: block;
            position: absolute;
            top:-20px;
            right:0;
            width: max-content;
        }

        .background img {
            width: 100%;
            height: auto;
        }
    }
    
    @media(max-width:992px){
        .hero{
            margin-top: 90px;
            position: relative;
            overflow: hidden;
            padding-bottom: 55px;

            .paragraph{
                margin-top:90px;
                .mobhead-btn{
                    display: flex;
                    flex-direction: column;
                    margin-top: 45px;

                    .mobhead{
                        width: 100%;
                    }

                    .transparent{
                        background-color: transparent;
                        width: 100%;
                    }
                    .transparent:hover{
                        background-color: white;
                    }
                }
            }
            .page-title {
                max-width: 355px;
            }
            .html-content{
                margin-top: 15px;
                max-width: 440px;
            }
            .background {
                position: absolute;
                top:50px;
                left:60px;
                z-index: -1;
                width: 100%;
            }
            .background img {
                width: 100%;
                height: auto;
                flex: 1;
                min-width: 940px;
                color: #d8d8d8;
            }
        }
    }
}
