.services{
    .services-hero{
        position: relative;
        overflow-x: hidden;
        padding-bottom: 215px;

        .paragraph{
            margin-top: 280px;
            .html-content{
                margin-top:30px;
            }

            .mobhead-btn{
                gap:15px;
                margin-top:50px;
                display: flex;
                flex-direction: row;
                .mobhead{
                    min-width: 220px;
                    &.transparent{
                        background-color: transparent;
                    }
                    &.transparent:hover{
                        background-color:white;
                    }
                }
            }
        }

        .background {
            display: block;
            position: absolute;
            left: 50%;
            top: -10%;
            bottom: -20%;
            right: 10%;
            z-index: -1;
            display: block;
            position: absolute;
            top:-20px;
            right:0;
            width: max-content;
        }

        .background img {
            width: 100%;
            height: auto;
        }
    }

    @media(max-width:992px){
        .services-hero{
            margin-top: 90px;
            position: relative;
            overflow: hidden;
            padding-bottom: 55px;

            .paragraph{
                margin-top:90px;
                .mobhead-btn{
                    display: flex;
                    flex-direction: column;
                    margin-top: 45px;

                    .mobhead{
                        width: 100%;
                    }

                    .transparent{
                        background-color: transparent;
                        width: 100%;
                    }
                    .transparent:hover{
                        background-color: white;
                    }
                }
            }
            .page-title {
                max-width: 355px;
            }
            .html-content{
                margin-top: 15px;
                max-width: 440px;
            }
            .background {
                position: absolute;
                top:50px;
                left:60px;
                z-index: -1;
                width: 100%;
            }
            .background img {
                width: 100%;
                height: auto;
                flex: 1;
                min-width: 940px;
                color: #d8d8d8;
            }
        }
    }

    @media (min-width: 510px) and (max-width:992px) {
        .services-hero{
            .paragraph{
                .mobhead-btn {
                    display: flex;
                    align-items: flex-start;
                    //justify-content: left;
                    flex-direction: row;
                    .mobhead,
                    .transparent {
                        width: unset;
                    }

                }
            }
        }
    }


    .provide-list{
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        background-color: white;
        padding-block: 150px;


        .services-info{
            display: flex;
            align-items: center;
            justify-content:space-between;
        }
        .page-title{
            border-bottom:10px solid #7C74C7 ;

        }

        .html-content{
            max-width: 715px;
        }

        .selection{
            display: flex;
            flex-direction: column;
            gap:20px;
            margin-top:45px;


            a{
                display: flex;
                gap:25px;
                font-weight: 600;
                font-size: 22px;
                color: #3A337C;
            }
        }


        @media (max-width: 992px) {
            padding-block: 0;
            padding-top: 110px;
            border: 1px solid #f9f8fc;


            .services-info{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            .page-title{
                border-bottom:5px solid #7C74C7 ;
            }

            .html-content{
                margin-top: 30px;
                //min-width: 355px;
                //max-width: 400px;
            }
            .selection{
                display: flex;
                gap: 25px;
                padding-bottom: 70px;
            }

            .selection span{
                font-weight: 600;
                font-size: 17px;
                line-height: 17px;
                margin-left: 5px;

            }
            .selection a{
                font-size:17px;
            }
        }
        @media (min-width: 993px) and (max-width:1009px){
            .services-info{
                display: flex;
                flex-direction: row;
                gap:50px;
                justify-content: space-between;
                .page-title{
                    font-size: 55px;
                }
            }
            .html-content{
                display: flex;
                flex:1 1 200px;
            }
        }
        @media (min-width: 1010px) and (max-width:1450px){

            .services-info{
                display: flex;
                flex-direction: row;
                gap:50px;
            }
            .html-content{
                min-width:unset ;
                max-width: unset;
                display: flex;
                flex:1 1 300px;
            }
        }
    }

    .bs-recruitment{
        background-color: #EBE9FB;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        padding-block: 110px;

        .recru-solutions{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        .services-section-title {
            font-weight: 700;
            font-size: 55px;
            line-height: 60px;
            color: black;
        }

        .html-content {
            max-width: 490px;
            margin-top:20px;
        }

        .solutions-image {
            position: relative;
            display: flex;
        }
        .solutions-image img {
            position: relative;
            width: 100%;
            max-width: 465px;
            height: auto;
            aspect-ratio: 1/1;
            border-radius: 100%;
            object-fit: cover;
        }
        .small,
        .medium,
        .large {
            background-color: #3A337C;
            border-radius: 100%;
        }

        .small {
            position: absolute;
            width: 53px;
            height: 53px;
            top: 380px;
            left: -20px;
        }
        .medium {
            position: absolute;
            width: 71px;
            height: 71px;
            top: 15px;
            left: 60px;
        }
        .large {
            position: absolute;
            width: 115px;
            height: 115px;
            bottom: 20px;
            right: 50px;
        }

    }
    @media (max-width:992px){
        .bs-recruitment{
            padding-block:100px;
            background-color: #EBE9FB;
            border-radius: 50px;
            z-index: -1;


            .services-section-title{
                font-size: 24px;
                font-weight: 700;
                line-height: 32px;
                color: #3A337C;
                max-width: 300px;
                margin-right: 35px;

            }

            .recru-solutions{
                margin-inline:auto;
            }

            .html-content{
                max-width: 300px;
            }

            .solutions-image {
                max-width: 300px;
                margin-inline:auto;
                margin-top: 35px;

                div {
                    background-color: #7C74C7;

                }
                .small {
                    width: 35px;
                    height: 35px;
                    top: 250px;
                    left: -20px;
                }
                .medium {
                    width: 46px;
                    height: 46px;
                    top: 10px;
                    left: 5px;
                }
                .large {
                    width: 75px;
                    height: 75px;
                    bottom: 0;
                    right: 15px;
                }

            }

        }
    }

    @media (min-width:510px) and (max-width:991px){
        .bs-recruitment{
            .row > .col-12.col-lg-4.offset-lg-1.d-flex.align-items-center{
                display: block !important;
            }
            .solutions-image{
                max-width: unset;

                img{
                    max-width: unset;
                }

            }
        }
    }


    .bs-support{
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        padding-top: 125px;
        padding-bottom: 130px;
        background-color: white;

        .solutions-image {
            position: relative;
            display: flex;
        }
        .solutions-image img {
            position: relative;
            width: 100%;
            max-width: 465px;
            height: auto;
            aspect-ratio: 1/1;
            border-radius: 100%;
            object-fit: cover;
        }
        .small,
        .medium,
        .large {
            background-color: #7C74C7;
            border-radius: 100%;
        }

        .small {
            position: absolute;
            width: 53px;
            height: 53px;
            top: 380px;
            left: -20px;
        }
        .medium {
            position: absolute;
            width: 71px;
            height: 71px;
            top: 15px;
            left: 60px;
        }
        .large {
            position: absolute;
            width: 115px;
            height: 115px;
            bottom: 20px;
            right: 50px;
        }


        .recru-solutions{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 50px;
            min-width: 605px;

            .services-section-title {
                font-weight: 700;
                font-size: 55px;
                line-height: 60px;
                color: black;
            }

            .html-content {
                max-width: 490px;
                margin-top:20px;
            }
        }

    }
    @media(max-width:992px){
        .bs-support{
            padding-block:100px;
            .recru-solutions{
                max-width: 305px;
                min-width: 300px;
                margin-inline:auto ;

                .services-section-title{
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 32px;
                    color: #3A337C;
                    max-width: 300px;
                }
                .html-content{
                   // max-width: 300px;
                }
            }

            .solutions-image {
                max-width: 300px;
                margin-inline:auto;
                margin-top: 35px;

                div {
                    background-color: #3A337C;
                }
                .small {
                    width: 35px;
                    height: 35px;
                    top: 250px;
                    left:-20px;
                }
                .medium {
                    width: 46px;
                    height: 46px;
                    top: 0;
                    left: 45px;
                }
                .large {
                    width: 75px;
                    height: 75px;
                    bottom: 0;
                    right: 15px;
                }

            }
        }
    }

    @media (min-width:510px) and (max-width:991px){
        .bs-support{
            .row > .col-12.col-lg-4.offset-lg-1.d-flex {
                display: block !important;
            }
            .recru-solutions{
                max-width:600px;
            }

            .solutions-image{
                max-width: unset;
                min-width: unset;
                display: inline;

                img{
                    margin-top: 35px;
                    max-width: unset;
                }

            }
        }
    }

    @media (min-width:993px) and (max-width:1170px){
        .bs-support{
            .recru-solutions{
                .services-section-title{
                    font-size: 40px;
                    max-width: 500px;
                }
            }
        }
    }


    .lookforjob{
        padding-top: 70px;
    }
}
