.services{
    .services-hero{
        position: relative;
        overflow-x: hidden;
        padding-bottom: 215px;

        .paragraph{
            margin-top: 280px;
            .html-content{
                margin-top:30px;
            }

            .mobhead-btn{
                gap:15px;
                margin-top:50px;
                display: flex;
                flex-direction: row;
                .mobhead{
                    min-width: 220px;
                    &.transparent{
                        background-color: transparent;
                    }
                    &.transparent:hover{
                        background-color:white;
                    }
                }
            }
        }

        /* .background {
            display: block;
            position: absolute;
            left: 36%;
            right: -45%;
            top: -155%;
            z-index: -1;
        }

        .background img {
            flex: 1;
            width: 100%;
            height: auto;
        }*/

        .background {
            /*display: block;
            position: absolute;
            left: 50%;
            top: -10%;
            bottom: -20%;
            right: 10%;
            z-index: -1;*/
            display: block;
            position: absolute;
            top:-20px;
            right:0;
            width: max-content;

        }

        .background img {

            width: 100%;
            height: auto;
        }

        @media(max-width:992px){
            margin-top: 90px;
            position: relative;
            overflow: hidden;
            padding-bottom: 75px;

            .page-title {
                min-width: 355px;
                text-align: center;
            }
            .html-content{
                margin-top: 15px;
                max-width: 305px;
                text-align: center;
                margin-inline: auto;
            }
            .btns {
                display: flex;
                flex-direction: column;
                margin-top: 45px;
                padding:0;

                .primary-btn{
                    width: 100%;
                    max-width: 355px;
                    margin-inline: auto;
                    font-size: 15px;
                    line-height: 16px;
                    font-weight: 500;
                    padding: 20px;

                    &.transparent{
                        background-color: white;
                    }
                }
            }

            .background {
                position: absolute;
                top: -60%;
                left: -88%;
                z-index: -1;
                width: 100%;
            }
            .background img {
                width: 100%;
                height: auto;
                flex: 1;
                min-width: 940px;
                color: #d8d8d8;
            }
        }
    }
}
