    .book-form{
        margin-top: 150px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        padding-block: 155px;
        .contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
        }

        .small-title {
            color: #3a337c;
        }

        .page-title {
            min-width: 625px;
        }
        .page-title span {
            color: #3a337c;
        }

        .html-content{
            max-width: unset;
        }

        .form-container {
            display: flex;
            flex-direction: column;
            max-width: 635px;
        }

        .row-name {
            display: flex;
            gap: 35px;
        }

        .row-name .input-wrapper {
            flex: 1;
            width: 40%;

            .firstname,
            .lastname{
                padding-top: 0;
                padding-left: 10px;
                padding-bottom: 15px;
                color: #3a337c;
                font-size: 17px;
                font-weight: 500;
                display: flex;
            }
        }

        .input-wrapper {
            width: 100%;
        }

        .email,
        .message {
            color: #3a337c;
            font-size: 17px;
            font-weight: 500;
            display: flex;
            text-align: start;
            padding-left: 10px;
            padding-block: 15px;
        }
        sup {
            font-size: 17px;
            font-weight: 500;
            margin-top: 20px;
        }

        .form-control {
            border-radius: 32px;
            padding: 20px;
            color: #9898a1;
        }

        .input-wrapper #message {
            min-height: 200px;
            border-radius: 29px;
        }

        .form-check {
            width: 100%;
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 15px;
            margin-top: 20px;
        }
        .form-control::placeholder {
            color: #9898a1;
            font-size: 16px;
            line-height: 17px;
            font-weight: 500;
        }

        .form-check .form-check-input {
            border: 1px solid #3a337c;
            border-radius: 100%;
            width: 20px;
            height: 20px;
            background-color: #e2dffe;
        }

        .form-check .form-check-label {
            color: #3a337c;
            font-size: 14px;
            font-weight: 500;
        }

        .primary-btn {
            width: 100%;
            margin-top: 25px;
        }
    }
    @media(max-width:992px){
        .book-form{
            margin-top: 70px;
            border-radius: 0;
            display: block;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
            padding-top: 80px;
            padding-bottom: 120px;
            .form-container{
                max-width: unset;
            }

            .html-content{
                display: none;
            }
            .small-title{
                color:#7C74C7;
                margin-bottom: 15px;
            }
            .page-title  {
                min-width: 305px;
            }

            .firstname,
            .lastname{
                color: #3a337c;
                font-size: 17px;
                font-weight: 500;
                display: flex;
                text-align: start;
                padding-left: 10px;
            }
            .row-name{
                display: flex;
                flex-direction: column;
                margin-top: 40px;
                padding-block: 15px;

                .input-wrapper{
                    width: 100%;
                }
            }

            .input-wrapper {
                width: 100%;
            }

            .email,
            .message {
                color: #3a337c;
                font-size: 17px;
                font-weight: 500;
                display: flex;
                text-align: start;
                padding-left: 10px;
            }

            .message{
                padding-block:20px;
            }

            sup {
                font-size: 17px;
                font-weight: 500;
                margin-top: 20px;
            }

            .form-control {
                border-radius: 32px;
                padding: 20px;
                color: #9898a1;
            }

            .input-wrapper #message {
                min-height: 200px;
                border-radius: 29px;
            }

            .form-check {
                width: 100%;
                display: flex;
                justify-content: left;
                align-items: center;
                gap: 15px;
                margin-block:35px;

            }
            .form-control::placeholder {
                color: #9898a1;
                font-size: 16px;
                line-height: 17px;
                font-weight: 500;
            }

            .form-check .form-check-input {
                border: 1px solid #3a337c;
                border-radius: 100%;
                width: 20px;
                height: 20px;
                background-color: #e2dffe;
            }

            .form-check .form-check-label {
                color: #3a337c;
                font-size: 14px;
                font-weight: 500;
            }

            .primary-btn {
                width: 100%;
                margin-top: 25px;
            }
        }
    }

    @media (min-width:720px) and (max-width:992px) {
        .book-form{
            .small-title,
            .page-title {
                text-align: center;
            }
        }
    }

    @media (min-width:993px) and (max-width:1060px) {
        .book-form{
            .page-title{
                min-width: unset;
                font-size: 45px;
                line-height: 45px;
            }
        }
    }
    @media (min-width:1061px) and (max-width:1300px) {
        .book-form{
            .page-title{
                min-width: unset;
                font-size: 50px;
                line-height: 50px;
            }
        }
    }
