    .lookforjob{
        padding-top: 150px;
        .col {
            padding-block: 185px;
            background-color: #3a337c;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .section-title {
            color: white;
            margin: 0;
            padding: 0;
            line-height: 40px;
        }

        .html-content p{
            color: white;
            margin-top:15px;
            text-align: center;
        }

        .primary-btn{
            min-width: 220px;
            background:white;
            color: #3a337c;
            margin-top: 35px;
            margin-inline:auto;
        }
        .primary-btn:hover{
            border:1px solid #7c74c7;
            color: white;
            background-color: #3a337c;
        }

        @media(max-width:992px){
            padding-top: 70px;
            .col{
                padding-block: 75px;
                padding-inline: 30px;
            }

            .applicants {
                max-width:290px;
                height: auto;
            }
        }
    }
