    .news-section{
        margin-top: 160px;
        .container{max-width:1215px;}

        .small-title {
            text-align: center;
        }
        .section-title{
            text-align: center;
            margin-top: 5px;
        }

        .news-list{
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid #d8d8dd;

            &:nth-of-type(2){
                border-top:1px solid #d8d8dd;
                margin-top: 110px;
            }
        }

        .news-info{
            margin-top: 65px;
            display: flex;
            justify-content:space-between;
        }

        .news-info h4 {
            margin: 10px 0;
            color: #3a337c;
            font-size: 28px;
            font-weight: 400;
            line-height: 40px;
            max-width: 750px;
            text-align: left;
        }
        .html-content{
            margin-top: 25px;
            padding-bottom: 65px;
        }

        .primary-btn {
            margin-inline: auto;
            margin-top: 60px;
        }

        .news-info h4:hover {
            color: #7c74c7;
        }
        .html-content p:hover {
            color: #7c74c7;
        }

        .click-info {
            position: relative;
            margin-top: 30px;
            border: 1px solid #3a337c;
            min-width: 55px;
            height: 55px;
            border-radius: 100%;
            margin-right: 20px;
            transition: 0.3s ease;
            opacity: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            .circle-btn{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .click-info:hover {
            opacity: 1;
            background-color: #3a337c;
            img{

                filter: brightness(0) invert(1);
            }
        }

        @media(max-width:992px){
            margin-top:70px;
            .row{
                min-width: 355px;
            }
            .section-title{
                margin-top: 15px;
                text-align: center;
                line-height: 40px;
                max-width: 355px;
            }

            .news-list:nth-of-type(2){
                margin-top: 55px;
            }
            .news-list{
                .html-content{
                    line-height: 16px;
                    font-size: 16px;
                    font-weight: 400;
                    margin-top: 15px;
                    padding-bottom:40px;
                }
            }

            .news-info{
                margin-top: 40px;
                h4{
                    margin: 0;
                    padding: 0;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    color:#3A337C;
                   // max-width: 265px;
                }
            }

            .click-info {
                position: relative;
                margin-top: 30px;
                border: 1px solid #3a337c;
                min-width: 45px;
                height: 45px;
                border-radius: 100%;
                margin-right: 20px;
                transition: 0.3s ease;
                opacity: 1;
                display: flex;
                align-items: center;
                justify-content: center;

                .circle-btn{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .click-info:hover {
                opacity: 1;
                background-color: #3a337c;
                img{
                    filter: brightness(0) invert(1);
                }
            }
        }
    }

