    .position-section{
        margin-top: 115px;

        .position {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 60px;
        }

        .section-title {
            margin-inline: auto;
        }
        .html-content {
            max-width: 895px;
            margin-top: 25px;
            text-align: center;
        }

        .swiper-slide {
            padding-bottom: 25px;
        }

        .swiper-slide:nth-child(odd) {
            margin-top: 40px;
            border-radius: 20px;
        }

        .category {
            position: relative;
            border-radius: 20px;
            max-width: 100%;
        }

        a img {
            width: 100%;
            height: auto;
            aspect-ratio: 338/453;
            border-radius: 20px;
            display: block;
            object-fit: cover;
            position: relative;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #1f1b40;
            opacity: 23.68%;
            border-radius: 20px;
        }

        .hoverli:hover {
            opacity: 1;
            border-radius: 20px;
        }


        .granazi {
            border: 1px solid black;
            background-color: #f6f6ff;
            width: 77px;
            height: 77px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: -20px;
            right: 20px;
        }
        .granazi img {
            width: 34.5px;
            height: 34px;
        }

        .hoverli {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 0.5s ease;
            display: flex;
            flex-direction: column;
            text-align: justify;
            border-radius: 20px;
            background-color: #ebe9fb;
        }

        .slide-label p {
            position: absolute;
            top: 40px;
            left: 20px;
            color: white;
            font-size: 24px;
            font-weight: 600;
            line-height: 100%;
        }

        .hoverli ul {
            list-style: none;
            margin: 60px 35px;
            position: relative;
            display: flex;
            flex-direction: column;
        }

        .hoverli ul li {
            display: inline-flex;
            flex-direction: row;
            margin: 5px 0;
            gap:25px;
            font-size: 17px;
            font-weight: 300;
            color: #3a337c;
        }

        .hoverli ul li img {
            width: 100%;
            max-width: 6.85px;
            max-height: 10px;
            margin: 10px 0;
        }

        .viewall a {
            padding: 30px;
            font-size: 18px;
            color: #3a337c;
            text-decoration-line: underline;
            text-decoration-color: #3a337c;
            text-underline-offset: 4px;
            position: absolute;
            top:330px;
            left: 5px;
            opacity: 0;
            pointer-events: none;
        }

        .hoverli:hover ~ .viewall {
            opacity: 1;
            transition: opacity 0.5s ease;
        }


        .hoverli:hover ~ .viewall a {
            transition: opacity 0.5s ease;
            opacity: 1;
            pointer-events: none;
        }

        .primary-btn {
            margin-top: 60px;
            min-width: 205px;
            margin-inline:auto;
        }
    }
    @media(max-width:992px){
        .position-section {
            margin-top: 70px;
            margin-inline:auto ;
            .html-content{
                margin-top:15px;
                max-width: 320px;
            }

            .swiper-wrapper {
                display: grid;
                grid-template-columns:auto auto;
                justify-content: center;
                gap:20px;
                width: unset;
            }

            .swiper-slide:nth-child(odd) {
                margin-top: 0;
            }


            .category {
                position: relative;
                cursor: pointer;
            }

            .category .carta {
                max-height: 300px;
                max-width: 300px;
                display: flex;
                justify-content: center;
            }

            .positions img {
                max-width: 300px;
                max-height: auto;
                aspect-ratio: 1/1;
                object-fit: cover;
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                max-width: 300px;
                background: #1f1b40;
                opacity: 23.68%;
                border-radius: 20px;
            }

            .granazi {
                display: none;
            }

            .hoverli {
                display: none;
            }

            .slide-label p {
                position: absolute;
                top: 30px;
                left: 20px;
                color: #FFFFFF;
                font-size: 24px;
                font-weight: 600;
            }
            .primary-btn{
                margin-top: 0;
            }
        }
    }
    @media (min-width:400px) and (max-width:600px) {
        .position-section{
            .swiper-wrapper {
                display:flex;
                flex-direction: column;
               // align-items: center;
                justify-content: center;
            }
            .swiper{
                margin-left: 0;
                margin-right: 0;
            }

        }
    }

