footer {
    .job {
        margin-top: 64px;
    }
    .job img {
        padding: 0;
        margin: 0;
    }

    .footer-lists {
        display: flex;
        flex-direction: row;
        justify-content: left;
        gap:125px;
        margin-top: 65px;


        h5 {
            font-weight: 500;
            font-size: 18px;
            line-height:15px;
            color: black;
        }
        ul{
            margin-top: 30px;
            padding-left: 0;
        }
        ul li{

            padding-bottom: 20px;
        }

        ul li a {
            color: #717178;
            font-size: 15px;
            line-height: 15px;
            font-weight: 400;
        }
        .list-icons{

            display: flex;
            flex-direction: row;
            gap:45px;
        }
    }

    .copyright {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;

        p {
            color: #717178;
            font-size: 14px;
            font-weight: 400;
            line-height: 100%;
            margin-top:105px;
        }

        span {
            margin-left: 80px;
            color: #717178;
        }
    }

    @media (max-width: 992px) {

        .job {
            margin-top: 70px;
        }

        .footer-lists {
            display: flex;
            flex-direction: column;
            gap:35px;
            margin-top: 0;

            h5 {
                font-weight: 500;
                font-size: 17px;
                line-height:15px;
                color: black;
            }

            ul{
                li  {
                    padding-bottom:14px;
                    display: flex;
                    flex-direction: column;
                    color: #717178;
                    font-size: 15px;
                    line-height: 15px;
                    font-weight: 400;
                }
            }
        }
        .list:first-of-type{
            margin-top: 50px;
        }

        .list {
            display: flex;
            flex-direction: column;
        }
        ul.icons {
            display: flex;
            gap: 40px;
            margin-top: 25px;
        }

        ul li a img {
            width: 18px;
            height: 18px;
        }
        .copyright p{
            display: none;
        }
        .copyright img{
            display: block;
            margin-top: 75px;
        }
    }

    @media (min-width: 380px) and (max-width:600px){
        .copyright{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                display: inline;
                width: unset;
            }
        }
    }

    @media (min-width: 993px) and (max-width:1200px){
        .copyright{
            p{
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                justify-content: flex-start;
                gap:15px;
            }
            span{
                margin-left: 0px;
            }
        }
    }

}


